@import "tailwindcss";

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

@font-face {
  font-family: "Tan Nimbus";
  src: url("/fonts/tan-nimbus.woff2") format("woff2");
}

.font-title {
  font-family: "Tan Nimbus", sans-serif;
}
